.form {
	margin: auto;
	width: 50%;
	text-align: center;
}

.input {
	display: block;
}

.swatch {
	background: white;
	box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
}

.info {
	padding: 0.5em;
}

.swatch h3 {
	margin: 0;
	text-transform: uppercase;
}

.swatch h2 {
	font-weight: normal;
	margin: 0;
}

.input {
	margin: 0.5rem auto;
	padding: 1rem;
	width: 90%;
	max-width: 40rem;
}

.input label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.input input {
	width: 100%;
	border: 1px solid #ccc;
	padding: 0.5rem;
	margin-bottom: 0;
}

input[type="color"] {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: none;
	border: 0;
	cursor: pointer;
	height: 4rem;
	padding: 0;
	width: 4rem;
}
