.modal__content {
	height: 105px;
	background-color: #f9fafc;
	margin: 20px;
}
.codeblock {
	overflow: auto;
	text-align: left;
	font-family: Source Code Pro, Consolas, monospace;
	color: #476da5;
}

pre {
	display: block;
	font-family: monospace;
	white-space: pre;
	margin: 1em 0px;
}

code {
	font-family: monospace;
}

.codeblock__property {
	color: #2aa198 !important;
}

.codeblock__spec {
	color: #d33682 !important;
}

.codeblock__comment {
	color: #ababab !important;
}
