#root {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
	box-sizing: border-box;
}

.colorSpan {
	width: 14px;
	height: 14px;
	border: 1px solid black;
	display: inline-block;
	margin-right: 0.2rem;
}
